* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

    border: 0px;
}

button:hover {
    cursor: pointer;
}

.all {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
}

#map {
    width: 100%;

}

/* >>>>>>>>>>> autocomplete <<<<<<<<<<<< */

.input-container {
    position: absolute;
    z-index: 10;
}

.input {
    background-color: #fff;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 3vh;
    margin-left: 3vh;
    max-width: 30rem;
    width: 40vw;
    height: 2.5rem;

    border-radius: 0.3rem;
}

#autocomplete {
    outline: none;
    width: 80%;
    
}

/* >>>>>>>>>>> painel lateral <<<<<<<<<<<< */

.container {
    width: 35rem;
    flex-direction: column;
}

.side-bar {
    background-color: #fff;
    width: 100%;
    height: 85%;
}

.buttons {
    width: 100%;
    height: 15%;
    background-color: #21222C;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* >>>>>>>>> calcular button <<<<<<<<<<<<< */

#action-button:active {
    background-color: #0861d6;
}

#action-button {
    border-radius: 5px;

    background-color: #5491F5;
    color: #fff;

    width: 9.5rem;
    height: 2.5rem;

    font-size: 1.125rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calcular {
    margin-left: 0.625rem;
}

/* >>>>>>>>>>>>> del marker button <<<<<<<<<<<<<<<<< */

#del-btn {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 0.3rem;
    background-color: #EE675C;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 3rem;
}

#del-btn:active {
    background-color: #d93225;
}

/* >>>>>>>>>>> resetar button <<<<<<<<<<<<<<<< */

#rest-btn {
    width: 9.5rem;
    height: 2.5rem;
    border-radius: 2rem;

    background-color: #34a853;
    color: #fff;

    display: none;
    align-items: center;
    justify-content: center;
}

/* >>>>>>>>>>>> route <<<<<<<<<<<<<< */

#distancia {
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    background-color: #21222C;
    color: #21222C;

    display: flex;
    justify-content: center;
    align-items: center;
}

#side {
    flex-basis: 15rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 75%;
    box-sizing: border-box;
    overflow: auto;
    background-color: #eee;
}
#total {
    margin-left: 1rem;
}

.adp-substep{
    display: none;
}
/* 
.adp-placemark{
    border-radius: 1rem;
    padding: 0.5rem;

    background-color: #21222c;
    border: 2px solid #ea4335;

}

.adp-text{
    color: #eee;
} */

/* >>>>>>>>>>>> tutorial <<<<<<<<<<<< */

.tutorial {
    background-color: #ddd;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#loading{
    position: absolute;

    animation: is-rotating 1.5s infinite;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    border: solid 6px #aaa;

    border-top-color: #34a853;

    display: none;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}