* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

    border: 0px;
}

button:hover {
    cursor: pointer;
}

#map {
    width: 100vw;
    height: 100vh;

    position: absolute;
}

/* BUTTON CALCULAR */

#button-container {
    width: 100vw;
    margin: auto;

    margin-top: 88.75vh;

    display: flex;
    justify-content: center;
}

#action-button:active {
    background-color: #0861d6;
}

#action-button {
    border-radius: 5px;

    position: absolute;

    background-color: #1a73e8;
    color: #fff;

    width: 9.5rem;
    height: 2.5rem;

    font-size: 1.125rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calcular {
    margin-left: 0.625rem;
}

#direction-icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

/* INPUT */

.input-container {
    width: 100vw;
    margin: auto;

    display: flex;
    justify-content: center;

    box-shadow: rgb(0 0 0 / 90%) 0px 1px 4px -1px;
}

.input {
    background-color: white;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 3vh;
    width: 400px;
    max-width: 90vw;
    height: 2.5rem;

    border-radius: 0.3rem;
}

#autocomplete {
    outline: none;
    width: 80%;
}

/*  */

#del-btn {
    width: 100vw;

    display: flex;
    justify-content: end;
}

#rest-btn {
    width: 100vw;

    display: flex;
    justify-content: end;
    position: absolute;
}

#rest-icon:hover{
    background-color: #148833;
}

#rest-icon:active{
    font-size: 1.75rem;
}

#del-icon,
#rest-icon {
    position: absolute;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 2.5rem;

}

#del-icon {
    margin-right: 0.65rem;
    background-color: #e94235;

    top: 70vh;
}

#rest-icon {
    background-color: #34a853;
    margin-right: 5rem;
    display: none;
    color: #fff;
    border-radius: 5rem;
    font-size: 2rem;
}

#del-icon:active {
    background-color: #d93225;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.help-container {
    width: 100vw;
    display: flex;
    justify-content: start;
}

#help-button {
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 91vh;
    margin-left: 3vh;

    border-radius: 1.25rem;
}

#help-text {
    position: absolute;
    background-color: white;
    width: 96vw;
    height: 94vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 0.3rem;

    z-index: 0;

    justify-content: center;

    padding: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.back-button {
    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: end;
}

#back-button {
    background-color: #FFF;
    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}

#back-button:hover {
    background-color: #eee;
}

.text {
    background-color: #0861d6;
    width: 100%;
    height: 90%;
    margin-top: 0.3rem;

    display: flex;
    justify-content: center;
}

.gm-style-iw , .gm-style-iw-c,  .gm-style-iw-tc {
}